---
import mannworkBlanco from "../../assets/mannwork_blanco.png";
---

<header
    class="max-w-[1440px] mx-auto px-8 flex justify-between items-center"
    data-aos="fade-down"
    data-aos-duration="800"
>
    <div
        class="flex gap-4 items-center"
        data-aos="fade-right"
        data-aos-delay="100"
        data-aos-duration="600"
    >
        <a href="/" class="block">
            <img
                class="md:max-w-96 md:max-h-44 max-w-64 max-h-28 w-full h-full rounded-md"
                src={mannworkBlanco.src}
                alt="logo Mannwork"
            />
        </a>
    </div>
    <nav class="flex gap-4">
        <ul
            class="flex text-secondary font-semibold gap-8"
            data-aos="fade-left"
            data-aos-delay="200"
            data-aos-duration="600"
        >
            <!-- <li class="relative group">
                <a
                    href="#"
                    class="hover:text-primary transition-colors duration-300 after:content-[''] after:absolute after:bottom-0 after:left-0 after:w-0 after:h-0.5 after:bg-primary after:transition-all after:duration-300 hover:after:w-full"
                >
                    ¿Como funciona?
                </a>
            </li>
            <li class="relative group">
                <a
                    href="#"
                    class="hover:text-primary transition-colors duration-300 after:content-[''] after:absolute after:bottom-0 after:left-0 after:w-0 after:h-0.5 after:bg-primary after:transition-all after:duration-300 hover:after:w-full"
                >
                    ¿Querés ser profesional?
                </a>
            </li> -->
            <li class="relative group">
                <a
                    href="/legal/faq"
                    class="hover:text-primary transition-colors duration-300 after:content-[''] after:absolute after:bottom-0 after:left-0 after:w-0 after:h-0.5 after:bg-primary after:transition-all after:duration-300 hover:after:w-full"
                >
                    Preguntas Frecuentes
                </a>
            </li>
        </ul>
    </nav>
</header>
