<section
    class="w-full max-w-[1440px] mx-auto 2xl:rounded-lg bg-secondary text-white py-16 md:py-14 overflow-hidden"
    data-aos="fade-in"
>
    <div class="w-full px-10">
        <div
            class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center justify-center md:justify-between w-full"
        >
            <div
                class="text-center md:text-left"
                data-aos="fade-right"
                data-aos-delay="200"
                data-aos-duration="800"
            >
                <h1
                    class="text-3xl text-primary md:text-5xl lg:text-6xl font-bold leading-tight mb-6"
                >
                    Encuentra al profesional ideal para tu hogar
                </h1>
                <p class="text-xl mb-8 text-primary">
                    Conectamos contigo a profesionales confiables para todo tipo
                    de servicios
                </p>
            </div>

            <div
                class="flex md:justify-end justify-center w-full"
                data-aos="fade-left"
                data-aos-delay="400"
                data-aos-duration="800"
            >
                <div
                    class="md:w-[400px] md:h-[400px] w-[300px] h-[300px] border-4 border-[#2d7a3e] rounded-lg"
                >
                    <img
                        src="https://png.pngtree.com/png-vector/20240127/ourmid/pngtree-construction-worker-engineer-png-image_11500172.png"
                        alt="Profesionales de servicios para el hogar"
                        class="rounded-lg w-full h-full shadow-2xl transform transition-transform duration-1000 hover:scale-105"
                    />
                </div>
            </div>
        </div>
    </div>
</section>
