---
import califica from "../../assets/features/califica.jpg";
import chatea from "../../assets/features/chatea.jpg";
import encontra from "../../assets/features/encontra.jpg";
import paga from "../../assets/features/paga.jpg";
import solicita from "../../assets/features/solicita.jpg";

const appFeatures = [
    {
        title: "Encontrar Profesionales",
        description:
            "Descubre profesionales calificados cerca de ti con solo unos toques.",
        image: encontra,
    },
    {
        title: "Solicitar Servicios",
        description:
            "Pide servicios de manera rápida y fácil con nuestro formulario intuitivo.",
        image: solicita,
    },
    {
        title: "Chatea con tus profesionales",
        description:
            "Comunícate con tus profesionales asignados en tiempo real.",
        image: chatea,
    },
    {
        title: "Pago Seguro",
        description:
            "Paga de forma segura con múltiples métodos de pago disponibles.",
        image: paga,
    },
    {
        title: "Califica el Servicio",
        description:
            "Ayuda a mejorar la comunidad calificando a los profesionales.",
        image: califica,
    },
];
---

<section
    class="py-6 xl:py-16 xl:px-4 sm:px-6 max-w-[1440px] mx-auto"
    data-aos="fade-up"
    data-aos-delay="100"
>
    <h2 class="text-3xl md:text-4xl font-bold text-center text-secondary mb-16">
        ¿Para que funciona Mannwork?
    </h2>

    <div class="w-full">
        <div
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 2xl:grid-cols-5 place-items-center items-center justify-center gap-4 2xl:gap-6 xl:px-4 xl:mx-auto"
        >
            {
                appFeatures.map((feature, index) => (
                    <div
                        class={`relative group flex flex-col items-center w-[250px] ${
                            index === appFeatures.length - 1
                                ? "md:col-span-2 lg:col-span-1"
                                : ""
                        }`}
                        data-aos="fade-up"
                        data-aos-delay={index * 100 + 200}
                        data-aos-easing="ease-out-cubic"
                    >
                        {/* Mockup del teléfono */}
                        <div class="relative  w-[200px] h-[400px] bg-gray-900 rounded-[40px] p-2 shadow-xl">
                            {" "}
                            <div class="w-full h-full bg-gray-100 rounded-[32px] overflow-hidden">
                                <img
                                    src={feature.image.src}
                                    alt={feature.title}
                                    class="w-full h-full"
                                />
                            </div>
                        </div>

                        {/* Texto superpuesto */}
                        <div class="mt-6 p-4 bg-white/90 backdrop-blur-sm rounded-xl shadow-lg transform transition-all duration-300 group-hover:scale-105 w-[250px] min-h-[120px] flex flex-col">
                            <h3 class="text-lg font-bold text-primary mb-2 text-center">
                                {feature.title}
                            </h3>
                            <p class="text-gray-600 text-sm text-center flex-grow">
                                {feature.description}
                            </p>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</section>
